<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

<!-- nav -->
<header> 
    <div class="container">
    <div id="logo">Live</div>
    <nav>
        <ul class="nav-links">
            <li><a href="/"> Home </a></li>
            <li><a href="/shop">Shop</a></li>
    
                </ul>
            </nav>
          </div>
</header>




    <div class="container">

        <div class="home"> 
    <h1 > Welcome to Live – Custom Creations & Digital Essentials!</h1>

    <p> Explore our collection of unique merchandise for college students, businesses, and everyday life. Whether you're looking for mouse, monitor, or keyboard, we have something for you!</p>

    <h3> Need an Invoice? We’ve Got You Covered! </h3>

    <p> For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!</p>

        <div class="btn-home"> <a href="/shop">Browse, Buy & Download Instantly </a></div> 

</div>




    </div>
    
    <script type="module" src="js/app.js" ></script>
    
</body>
</html>